.playlistItem {
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 10px;
}

.playlistItem.selected {
    background-color: #302626;
}

.playlistItem h3 {
    margin: 0 0;
}

.playlistItem p {
    margin: 0 0;
}