.playlistItem {
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 100px;
    text-wrap: nowrap;
}

.playlistItem.selected {
    background-color: #1f1853;
}

.playlistItem .artist {
    letter-spacing: 0;
    margin: 0 0;
}

.playlistItem .name {
    letter-spacing: 0;
    margin: 0 0;
}

.playlistItem .duration {
    letter-spacing: 0;
    margin: 0 0;
}